/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* global style */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

}



.green {
    color: rgb(27, 226, 166)
}

.greenBg {
    background-color: rgb(27, 226, 166) !important;
    color: #fff;
}

a.greenBg:hover,
input.greenBg:hover {
    box-shadow: 0 0 8px 9px rgb(118, 232, 217);
    text-shadow: 0 0 2px #555
}

header ul li {
    list-style: none;
}

.header-row1 {
    display: flex;
    justify-content: space-between;
}

.logo h4 {

    line-height: 50px;
}

.header-row2 input,
.header-row2 button {
    display: inline-block;
    height: 25px;
    transform: translateX(500px);
    animation: slideX 1s ease-in-out forwards;

}

.header-row2 nav ul li:nth-child(1) {
    animation-delay: .5s
}

.header-row2 nav ul li:nth-child(2) {
    animation-delay: 1s
}

.header-row2 nav ul li:nth-child(3) {
    animation-delay: 1.5s
}

.header-row2 nav ul li:nth-child(4) {
    animation-delay: 2s
}

.header-row2 nav ul li:nth-child(5) {
    animation-delay: 2.5s
}

.header-row2 nav ul li {
    transform: translateX(-800px);
    animation: slideX 1s ease-in-out forwards;
}

.header-row2 input {
    width: 200px;
    animation-delay: 1s;
    border-radius: 5px;
    padding-left: 10px;
}

.header-row2 button {
    padding: 0 5px;
    animation-delay: 2s;
    border-radius: 5px;


}

.header-row2 nav ul li a:hover {
    text-decoration: none;
    background-color: rgb(4, 197, 139);
}

@media screen and (max-width:768px) {
    header {
        position: relative;
    }

    .header-row2 {
        position: absolute;
        top: 100%;
        left: 0;
        text-align: center;
        /* border: 1px solid green; */
        z-index: 50;
        width: 100%;
        height: 0;
        background-color: aqua;
        overflow: hidden;
        transition: all .9s ease-in-out;
    }

    .top-contact {
        display: none;
    }

    div.toggle {
        display: block;
    }

    div.header-row2.slideY {
        height: 100vh;
    }

    .header-row2 nav ul {
        flex-direction: column;
    }



    .header-row2 nav ul li a {
        display: block;
        padding: 30px 0;
        color: #333;
        font-size: 15px;
    }



    .toggle .fa-bars {
        font-size: 30px;
        margin-top: 10px
    }



}


@media screen and (min-width:769px) {
    .top-contact {
        display: block;
    }

    div.toggle {
        display: none;
    }

    .top-contact a {
        display: inline-block;
        padding: 10px 15px;
        line-height: 30px
    }

    .header-row2 {
        display: flex;
        justify-content: space-between;
        /* border: 1px solid red; */
        height: 50px;
    }

    .header-row2 nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .header-row2 nav ul li a {
        display: block;
        padding: 0px 20px;
        line-height: 50px;
    }

    .header-row2 input,
    .header-row2 button {
        height: 30px;
        margin-top: 10px;
        outline: none;
        border: 1px solid #ccc
    }





}








































/* ---------- animation ---------- */
@keyframes slideX {
    from {}

    to {

        transform: translateX(0);
    }
}






/*-------------------------------------*/
/* NAV PART */
/*-------------------------------------*/






/*-------------------------------------*/
/* NAV PART  -- mobile version*/
/*-------------------------------------*/
/*-------------------------------------*/
/* slider PART */
/*-------------------------------------*/
main#slide {
    position: relative;
}

.slides {
    color: #fff;

}

main#slide ul {
    padding: 0;
    margin: 0;
    position: relative;

}

li.slides h1 {
    width: 400px;
    margin-top: -100px;
    text-transform: capitalize;
    text-shadow: 0 0 2px #000;
}

.slides p.resposive-p {
    max-width: 400px;
    line-height: 2.2em;
    text-shadow: 0 0 2px #aaa;
    margin: 20px 0;
    margin-right: 20px;
    padding-right: 30px;

}

.img {
    background-image: linear-gradient(80deg, rgba(85, 92, 95, 0.9), rgba(242, 251, 255, 0.4)), url('../img/slide.png');
    background-size: cover;
    background-attachment: fixed;
}

.slide-box {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}




/*
.slides p {
    width: 500px
}
*/


.btn-success {
    width: 150px;
}

/*-------------------------------------*/
/* slide PART  -- mobile version*/
/*-------------------------------------*/


@media screen and (max-width:798px) {

    .img {
        background-position: top center
    }

    main .moveTp {
        margin-top: -90vh
    }
}




























/*---------------------------------------------*/
/*consultation + emergency + apponttement*/
/*--------------------------------------------*/


section#appoittement {
    /*        overflow: hidden;*/

}

section#appoittement form {

    height: auto
}

.box-text p {
    color: #666;
    line-height: 1.84
}

/*mobile version */
@media screen and (max-width:768px) {



    section#appoittement div.container-boxes {
        flex-direction: column;
        flex-basis: 100%;
    }

    section#appoittement div.container-boxes .boxs {
        margin-bottom: 20px;
    }



}

@media screen and (max-width:996px) {
    section#appoittement div.container-boxes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    section#appoittement div.container-boxes .boxs:first-child {
        flex: 1;
    }

    section#appoittement div.container-boxes .boxs:nth-child(2) {
        flex: 1;

    }

    section#appoittement div.container-boxes .boxs:nth-child(3) {
        flex: 1;

    }

}




section#appoittement {
    padding: 100px 0;
    font-size: .9em
}

section div.container-boxes {
    display: flex;
    justify-content: space-between;

}

section div.container-boxes .boxs {
    flex-basis: 30%;
    height: 500px;
    background-color: rgba(229, 236, 229, 0.4);
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 8px 1px #aaa;
    margin-bottom: 30px
}

/*
section div.container-boxes .boxs:last-child{
    background-color: hsla(0, 0%, 42%, 0.33);
}
*/

section div.container-boxes .boxs img {
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0 0;


}

section div.box-text {
    padding: 10px 20px
}

section div.box-text h2 {
    text-transform: capitalize;
}

section div.box-text p {
    text-align: left;
}






section div.appointement h3 {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}

section div.box-fild * {
    display: block;
    width: 90%;
    height: 50px;
    margin: 20px 5%;
    border-radius: 10px;
    outline: none;





}


section div.box-fild input,
section div.box-fild select {
    border: 1px solid #aaa;
}



/*-------------------------------------*/
/* DARK BOX */
/*-------------------------------------*/
#dark-section {
    min-height: 200px;
    background-image: url('../img/laptopbg.jpg');
    background-position: 100px center;
    color: #fff
}

section div.dark-box {
    display: flex;
}

section div.box-txt,
section .dark-box-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*        border: 1px solid red;*/
    height: 200px;
    padding: 0 10px
}

section div.box-txt h4 {
    /*    border: 1px solid red;*/
    text-transform: capitalize;
}

section div.box-txt p {
    /*    border: 1px solid red;*/
    font-size: 12px
}

/*-------------------------------------------------*/
/*  our services*/
/*-------------------------------------------------*/

#our-services {
    padding: 150px 0;


}

#our-services p {
    color: #666;
    line-height: 1.8
}

/*
#our-services .container *{
    border: 1px solid red
}
*/
.services-header {
    text-align: center;
    padding: 10px 0;
    text-transform: capitalize
}

.services-header h2 {
    font-weight: bold
}

.item-header .i,
.item-header h4 {
    display: inline-block;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 30px;
    ;
    margin: 20px 0
}

.item-header .fa {
    margin-right: 20px;
    margin-top: 5px;
    font-size: 30px;
    color: rgb(27, 226, 166)
}

.services-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap
}


.services-items {


    /*       border: 1px solid red;*/
    flex-basis: 31%
}

.services-btn {
    margin: 30px 0;
    text-align: center
}

/*mobile version */
@media screen and (max-width:768px) {
    .services-content {
        flex-direction: column;
    }

}

@media screen and (max-width:996px) {
    .services-items {
        flex-basis: 49%;

    }
}


/*-------------------------------------------------*/
/* CONTACT US*/
/*-------------------------------------------------*/

#contact-us {
    min-height: 500px;

    background-image: linear-gradient(#6150506b, #080808bf), url('../img/contact-bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;


}

.contact-content {
    display: flex;
    /*    border: 1px solid green;*/
    justify-content: space-between;

}

.contact-box {
    flex-basis: 30%;


    min-height: 350px;
    /*    border: 1px solid red;*/
    margin-bottom: 20px
}

.contact-box:last-child {
    background-color: rgba(0, 0, 0, 0.6);

}

.contact-box h4 {
    margin-bottom: 30px;
    text-transform: capitalize;
}

.contact-box:first-child h4 {
    text-transform: uppercase
}

.contact-box p {
    line-height: 2;

}

.contact-box .row1 {
    display: flex;
    /*    border: 1px solid yellow;*/
    justify-content: space-between
}

.contact-box input.input {
    /*    display: block;*/
    flex-basis: 48%;
    background-color: rgba(171, 154, 154, 0.6);
    height: 40px;
    margin-bottom: 20px;
    color: #fff;
    outline: none;
    border: none;
    font-size: 12px;
}

.contact-box input.input:last-child {}

.contact-box input[type=submit] {
    width: 50%;
}

.contact-box textarea {

    padding: 5px;
    display: block;
    width: 100%;
    resize: none;
    background-color: rgba(171, 154, 154, 0.6);
    margin-bottom: 20px;
    color: #fff;
    line-height: 90px
}

.social-contact {
    display: flex;
    justify-content: space-around
}

.social-contact .fa {
    font-size: 40px;
    margin-top: 40px
}

#work-time {}

.time-work {
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    border-bottom: 1px solid #ccc
}

.time-work p {
    margin-left: 30px;
    margin-bottom: 0;
    line-height: 40px;
}

.time-work small {
    display: block;
    line-height: 40px;
    margin-right: 30px
}

@media screen and (max-width:996px) {
    #contact-us {
        padding: 40px 0;
    }

    .contact-content {
        flex-direction: column;
    }

}

/*-------------------------------------------------*/
/* footer*/
/*-------------------------------------------------*/
footer {
    height: 70px;
    text-align: center;
    color: #bbb;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 70px;
    margin-top: 90px;
    font-size: 13px;
    text-shadow: 0 0 2px #fff;
    word-spacing: 1.5px
}

footer i {
    margin-left: 40px;
}

footer .fa {
    font-size: 30px
}

/*mobile*/
@media screen and (max-width:998px) {
    footer {
        margin-bottom: -40px;

    }
}