/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* global style */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 8000px;

}



.green {
    color: rgb(27, 226, 166)
}

.greenBg {
    background-color: rgb(27, 226, 166) !important;
    color: #fff ;
}
a.greenBg:hover, input.greenBg:hover{
        box-shadow: 0 0 8px 9px rgb(118, 232, 217);
    text-shadow:  0 0 2px #555
}




/*-------------------------------------*/
/* HEADER */
/*-------------------------------------*/
header {
    position: relative;
}


/*-------------------------------------*/
/* TOP CONTACT */
/*-------------------------------------*/
section.contact .logo{
    width: 30%;
    float: left
    
    
}

section.contact div.contact-ways{
    float: right;
    width: 70%;
    text-align: right
}
section.contact div.contact-ways .fa-phone{
    font-size: 25px;
    border: 1px solid #bbb;
    border-radius: 50%;
    background-color: rgb(27, 226, 166);
    color: #fff;
    padding: 2px
}
section.contact .top-contact-box div.toggle{
        float: right;
/*    display: none*/

}
section.contact .top-contact-box{
    overflow: hidden;
   
}

section.contact div.contact-ways {
    height:50px;
}
section.contact div.contact-ways a{
    line-height: 50px;
    padding-left: 15px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000
}
section.contact .logo{
    height:50px;
}
section.contact .logo h2{
    line-height: 50px;
    text-transform: uppercase;
}

/*-------------------------------------*/
/* NAV PART */
/*-------------------------------------*/
header{
    position: relative;
    background-color: rgb(27, 226, 166);
}
header div.forPoz{
/*        height: 50px;*/

}
header ul li{
    list-style: none
}
section div.nav-box{
    overflow: hidden;
    height: auto;
    padding: 0;
        height: 50px


    
}

header section div.nav-box ul{
    display: flex;
    padding: 0
}
header section div.nav-box ul li a{
    display: block;
    line-height: 50px;
    color: #fff;
}
header section div.nav-box ul li a:hover{
    background-color: rgba(18, 196, 128, 0.68);
    transition: all .8s ease;
    color: #000;
    text-shadow: 0 0 2px #444;
    text-decoration: none
}
header section div.nav-box ul li:first-of-type{
/*    border-left: 1px solid #fff*/
}
header section div.nav-box div.form-search input[type=text]{
    display: inline-block;
    height: 30px;
    margin-top: 10px;
    position: relative;
    width: 100%;
    
}






/*-------------------------------------*/
/* NAV PART  -- mobile version*/
/*-------------------------------------*/

@media screen and (max-width:768px) {
    section .logo{
        width: 80%;
    }
    section .logo{
        width: 80%;
    }
    section .contact-ways{
        display: none
    }
    header section div.nav-box ul li a
    {
            padding: 0 15px;
        text-decoration: none

    }
    
    section .toggle{
        display: block
    }
    section .toggle .fa-bars{
        line-height: 60px;
        font-size: 30px
    }
    header{
        position: relative;
        padding-bottom: 50px;
        height: 90vh
    }
    section .nav-part{
        position: absolute;
        top: 100%;
        left: 0;
    }
    .nav-part div.nav-box nav ul {
        flex-direction: column;
        text-align: center
        
    }
    .nav-part div.nav-box{
        
    }
    section div.nav-box{
                height: auto;

    }
    section div.nav-box nav{
        width: 100%;
        float: none;
    }
    section div.nav-box div.form-search{
        width: 60%;
        margin: 0 20%;
        float: none;
    }
    .fade{
        display: none
    }
    
}

@media screen and (min-width:769px) {
    section .toggle{
        display: none
    }
    header section div.nav-box ul li a{
            padding: 0 15px;

    }
    header section div.nav-box nav{
    float: left;
    width: 60%;
}
header section div.nav-box div.form-search{
        width: 30%;

    float: right;
    text-align: right;
}
}

/*-------------------------------------*/
/* slider PART */
/*-------------------------------------*/
.slides {
    color: #fff;

}
main#slide ul{
    padding: 0;
    margin: 0;
        position: relative;

}

li.slides h1 {
    width: 400px;
    margin-top: -100px;
    text-transform: capitalize;
    text-shadow: 0 0 2px #000;
}

.slides p.resposive-p {
    max-width: 400px;
    line-height: 2.2em;
    text-shadow: 0 0 2px #aaa;
    margin: 20px 0;
    margin-right: 20px;
    padding-right: 30px;

}

.img {
    background-image: linear-gradient(80deg, rgba(85, 92, 95, 0.9), rgba(242, 251, 255, 0.4)), url('../img/slide.png');
    background-size: cover;
    background-attachment: fixed;
}

.slide-box {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}




/*
.slides p {
    width: 500px
}
*/


.btn-success {
    width: 150px;
}

/*-------------------------------------*/
/* slide PART  -- mobile version*/
/*-------------------------------------*/


@media screen and (max-width:798px) {
    .img {
        background-position: top center
    }

    main .moveTp {
        margin-top: -90vh
    }
}




























/*---------------------------------------------*/
    /*consultation + emergency + apponttement*/
/*--------------------------------------------*/


section#appoittement{
/*        overflow: hidden;*/
    }
section#appoittement form{
    
    height: auto
}

/*mobile version */
@media screen and (max-width:768px) {
    


    section#appoittement div.container-boxes{
        flex-direction: column;
        flex-basis: 100%;
    }
    section#appoittement div.container-boxes .boxs{
        margin-bottom: 20px;
    }


    
}
@media screen and (max-width:996px){
    section#appoittement div.container-boxes{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section#appoittement div.container-boxes .boxs:first-child{
        flex:1;
    }
    section#appoittement div.container-boxes .boxs:nth-child(2){
        flex:1;

    }

    section#appoittement div.container-boxes .boxs:nth-child(3){
        flex:1;

    }

}




section#appoittement{
    padding: 100px 0;
    font-size: .9em
}
section div.container-boxes{
    display: flex;
        justify-content: space-between;

}
section div.container-boxes .boxs{
    flex-basis: 30%;
    height: 500px;
    background-color: rgba(229, 236, 229, 0.4);
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 8px 1px #aaa;
    margin-bottom: 30px
}
/*
section div.container-boxes .boxs:last-child{
    background-color: hsla(0, 0%, 42%, 0.33);
}
*/

section div.container-boxes .boxs img{
    width: 100%;
    height: 250px;
        border-radius: 5px 5px 0 0;

    
}
section div.box-text{
    padding: 10px 20px
}
section div.box-text h2{
    text-transform: capitalize;
}
section div.box-text p{
    text-align: left;
}






section div.appointement h3{
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}
section div.box-fild *{
    display: block;
    width: 90%;
    height: 50px;
    margin: 20px 5%;
    border-radius: 10px;
    outline: none;





}


section div.box-fild input , section div.box-fild select{
    border:1px solid #aaa;
}



/*-------------------------------------*/
/* DARK BOX */
/*-------------------------------------*/
#dark-section{
    min-height: 200px;
    background-image: url('../img/laptopbg.jpg');
    background-position: 100px center;
    color: #fff
}
section div.dark-box{
    display: flex;
}
section div.box-txt , section .dark-box-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
/*        border: 1px solid red;*/
    height: 200px;
    padding:  0 10px

}
section div.box-txt h4{
/*    border: 1px solid red;*/
    text-transform: capitalize;
}
section div.box-txt p{
/*    border: 1px solid red;*/
    font-size: 12px
}




